*{
    margin:0;
    padding:0;
}
body{
    background-color:#082739;
    text-align: center;
    color:#F9B642;
}
.container
{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem #e24c16a5;
    font-size:8vmin;
    color:#391018;
    background-color:rgb(200, 200, 196);
}
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:steelblue;
    color: aliceblue;
    border-radius:1rem;
    border:none;
}
.msg-container{
    height:90vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:steelblue;
    color: aliceblue;
    border-radius:1rem;
    border:none;
    gap:4rem;
}
#msg{
    padding:10vmin;
    color:rgba(240, 248, 255, 0.851);
    font-size:5vmin;
}
.hide{
    display:none;
} 